.playfield {
	margin:0;
	padding: 0;
}
.score {
	background-color: orange;
	height: 64px;
}
.selfScore, .vs, .otherScore {
	float: left;
	margin-right: 64px;
	margin-top: 16px;
	height: 48px;
}
.selfScore {
	font-weight: bold;
}
.fight {
	height: 328px;
}
.self {
	background-color: #EEE;
	height: 128px;
}
.bottom {
	height: 118px;
	width: 100%;
}
.chat {
	float: left;
}
.chat textarea {
	resize: none;
	outline: none;
	background-color: black;
	opacity: 0.3;
	color: white;
}
.options {
	float: left;
}

button.weapon {
	outline:none; 
	background-color: #FFF;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: solid 1px #AAA;
}

button.weapon:hover {
	background-color: #EEE
}	