<div class="playfield col-md-12">
	<div class="score">
		<div>12</div>
		<div>VS</div>
		<div>25</div>
	</div>
	<div class="other"></div>
	<div class="fight">
	<div class="otherWeapon"></div>
	Clicked: {{clicked}}
	<div class="selfWeapon"></div>
	</div>
	<div class="self">
		<button ng-click="clicked = 'Rock'" class="weapon">Rock</button>
		<button ng-click="clicked = 'Paper'" class="weapon">Paper</button>
		<button ng-click="clicked = 'Scissor'" class="weapon">Scissor</button>
	</div>
	<div class="chat">
		<textarea rows="5" cols="50"></textarea>
	</div>
	<div class="options">
	</div>
	<span>
</span>
</div>
