<div ng-if="!inLobby" class="connect col-md-12">
	<label for="name">Name</label>
	<input type="text" name="name" ng-model="con.name">
	<label for="lobby">Lobby</label>
	<input type="text" name="lobby" ng-model="con.lobby">
	<button ng-click="connect(con)">Connect</button>
</div>
<div ng-if="inLobby" class="playfield col-md-12">
	<div class="score">
		<div class="score" ng-class="selfIndex == 0 ? 'selfScore' : 'otherScore'">
			{{players[0].name}}: {{players[0].score}}
		</div>
		<div class="vs">VS</div>
		<div class="score" ng-class="selfIndex == 1 ? 'selfScore' : 'otherScore'">
			{{players[1].name}}: {{players[1].score}}
		</div>
	</div>
	<div class="fight">
		<div class="selfWeapon" ng-class="players[0].confirmed ? 'confirmed' : (players[0].selected ? 'selected' : 'waiting')"></div>
		<div class="otherWeapon"></div>
	</div>
	<div class="self">
		<button ng-click="select(0)" class="weapon">Rock</button>
		<button ng-click="select(1)" class="weapon">Paper</button>
		<button ng-click="select(2)" class="weapon">Scissor</button>
		<button ng-if="players[0].selected()" ng-click="confirm()" class="weapon">Confirm</button>
	</div>
	<div class="bottom">
		<div class="chat">
			<textarea rows="5" cols="50"></textarea>
		</div>
	</div>
</div>
